html body {
    background: url(../images/thering.jpg)
}

.jumbotron {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    opacity: 0.7;
    text-align: center;
    border: 10px solid #000000;
}

.display-3 {
    font-size: 52px;
    font-family: 'anironbold';
    src: url('anirb___-webfont.woff2') format('woff2'),
         url('anirb___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#result {
    font-size: 24px;
}

.size {
    width: 350px;
    height: 200px;
}

#question {
    font-size: 22px;
    font-weight: bold;
}

#answers {
    list-style-type: none;
    font-size: 26px;
}

button {
    width: 50%;
    margin-bottom: 10px;
}