html body {
    background: url(../images/thering.jpg)
}

.jumbotron {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    opacity: 0.7;
    text-align: center;
}

.display-3 {
    font-size: 52px;
    font-family: 'anironbold';
    src: url('anirb___-webfont.woff2') format('woff2'),
         url('anirb___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}