html body {
    background: url(../images/thering.jpg)
}

.jumbotron {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    opacity: 0.7;
    text-align: center;
}

.display-3 {
    font-family: 'Major Mono Display', monospace;
    font-size: 52px;
}